<div class = "d-flex justify-content-center">
  <ul>
    <h3><%= "To do list" %></h3>
      <% @tasks.each do |task| %>
      <li>
      <%= check_box_tag(task.title, task.details, task.completed)%>
       <%= link_to task.title, task_path(task)%>
       <%= link_to destroy_task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } do %> <i class="far fa-trash-alt"></i>
        <% end %>
        </li>
    <% end %>
  </ul>
</div>
  <div class = "d-flex justify-content-center">
    <%= link_to "Add a new task", new_task_path, class: "btn btn-primary btn-sm my-3" %>
  </div>

